.card {
    font-size: 12px;
}

.todays-list {
    list-style: none;
}

.icon {
    height: 4rem;
    width: 4rem;
}

.history-btn {
    outline: none;
    border: none;
}

.history-btn::after {
    font-size: large;
    outline: none;
}